.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 128px;
      height: 128px;
    }

    p {
      margin: 0;
    }
  }

  &__temperature {
    font-size: 32px;
    font-weight: bolder;
  }

  &__description {
    font-size: 20px;
    font-weight: 500;

    &::first-letter {
      text-transform: uppercase;
    }
  }

}


