.main{
  &__container{
   height: 100%;
    margin: auto;
  }

  &__header{
    display: flex;
    gap: 16px;
  }


  &__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
}