.info-tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--light-bg-tab);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  border-radius: 8px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 8px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: var(--white);

    &:not(:first-child){
      border-left: 1px solid #2d2d2d;
    }
  }


  &__img{
    border-radius: 16px;
    width: 16px;
    height: 16px;
    &-red{
      color: var(--reject);
    }

    &-green{
      color: var(--success);
    }

    &-blue{
      color: var(--light-blue);
    }
  }
}