:root{
  --reject: #D26C45;
  --success: #9FBF32;

  --light-blue: #3278bf;

  --white: rgba(255, 255, 255, 0.87);

  --light-bg-select-tab: rgba(173, 172, 172, 0.3);
  --light-bg-tab: rgba(31, 31, 31, 0.3);
}

.app{
  background-image: url('./images/background.jpg');
  background-size: cover;
  &__main{
    margin-top: auto;
    padding: 16px;
  }
}