.weather-list {
  cursor: pointer;
  display: flex;
  overflow-x: auto;
  background-color: var(--light-bg-tab);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 100%;
  max-width: 860px;
  margin: auto;

  p {
    margin: 0;
  }

  &__img {
    width: 64px;
    height: 64px;
  }

  &__tab {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    min-width: 80px;
    border-radius: 16px;
    white-space: nowrap;
    color: var(--white);

    &-selected {
      background-color: var(--light-bg-select-tab);
      transition: background-color 0.5s ease;
    }

    &:not(:first-child) {
      border-left: 1px solid #2d2d2d;
    }
  }

  @media (max-width: 860px) {
    &__tab {
      min-width: 60px;
    }
  }

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
